name: Final Automatic Mirror Sync

on:
  push:
    branches:
      - main

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Push to personal mirror
        run: |
          git push --mirror "https://${{ secrets.SYNC_PAT }}@github.com/ranggamuktii/genbi-client.git"
